{% extends "admin/base_site.html" %}
{% load args static %}

{% block title %}Cohort Analysis | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">Home</a> &rsaquo; Cohort Analysis</div>{% endblock %}
{% block content %}

<p class="paginator">
{% for method, method_name in analysis.get_metrics_choices %}
<a href="?metric={{method_name}}">{{method_name}}</a>
{% endfor %}
</p>

<h1>{% firstof metric_choice cohorts.0.analyze.metric_choice %}</h1>
<table>
    <thead>
        <tr>
            <th>Cohort</th>
            <th>Count</th>
            {% for set in analysis.date_range_set %}
            <th>Week {{ forloop.counter }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for cohort in cohorts %}
        {% with analyze=cohort|args:metric_choice|call:"analyze" %}
        <tr class="{% cycle "row1" "row2" %}">
            <th scope="row">
                <b>{{ cohort.name|date }}</b>
            </th>
            <th>{{ analyze.count }}</th>
            {% for data in analyze.analysis %}
            <td>{{ data|floatformat }}%</td>
            {% endfor %}
        </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
{% endblock %}